<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration search:require="lucene">
          <fieldReaders>
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="general link|link" fieldNameFormat="{0}" fieldReaderType="Sitecore.Support.ContentSearch.FieldReaders.LinkFieldReader, Sitecore.Support.326354"/>
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultLuceneIndexConfiguration>
        <defaultCloudIndexConfiguration search:require="Azure">
          <fieldReaders>
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="general link|link" fieldNameFormat="{0}" fieldReaderType="Sitecore.Support.ContentSearch.FieldReaders.LinkFieldReader, Sitecore.Support.326354"/>
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultCloudIndexConfiguration>
        <defaultSolrIndexConfiguration search:require="solr">
          <fieldReaders>
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="general link|link" fieldNameFormat="{0}" fieldReaderType="Sitecore.Support.ContentSearch.FieldReaders.LinkFieldReader, Sitecore.Support.326354"/>
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>